<p>
  <strong>What</strong>
  <%= @adventure.what %>
</p>

<p>
  <strong>Where</strong>
  <%= @adventure.where %>
</p>

<p>
  <strong>When</strong>
  <%= @adventure.when %>
</p>

<p>
  <strong>With</strong>
  <%= @adventure.with %>
</p>

<%= link_to 'Back', adventures_path %>
